<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
 

  <ion-card-content>
   <ion-img src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></ion-img>
   <ion-col col col-7 text-wrap>
     <P text-wrap style="font-size: 18px;"><b>Name:</b>suraj kumars saw </P>
     <p text-wrap style="font-size: 18px;"><b>Email:</b>surajkumars177@gmail.com</p>
      <P text-wrap style="font-size: 18px;"><b>Phone:</b>933333333333 </P>
     <p text-wrap style="font-size: 18px;"><b>College:</b>Shaheed Bhagat singh State technical Camppus, Firozepur, Punjab</p>
</ion-col>
    </ion-card-content>
</ion-card>
</ion-content>